<h3>Liste du catalogue <%= @catalogue.nom %></h3>

<ul>
  <% @voitures.each do |voiture| %>
  <li><%= voiture.nom %></li>
  <% end %>
</ul>

<hr>

<%= link_to "Ajouter une voiture" , new_catalogue_voiture_path(@catalogue) %>
